# Server
PORT=3000

# Supabase
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_READING_TABLE=meter_readings
SUPABASE_USER_TABLE=meter_users

# LINE / LIFF
LINE_CHANNEL_ACCESS_TOKEN=62753d77e1590702d40b9208ec292dbe
LINE_CHANNEL_SECRET=6fb80c70747b38c432918bc7a05bf6fd
LINE_LIFF_ID=2010240368-w9rYgLNk
